// -------
// Helpers
// -------

*, *:before, *:after {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.container {
    margin: 0 auto;
    padding: 0 (gutter($susy) / 2);
    width: $container-large-width + gutter($susy);

    @if $grid-debug {
        background: susy-svg-grid() no-repeat scroll;
    }

    @include mobile {
        max-width: 100%;
        padding: 0 (gutter($susy-mobile) / 2);
        @if $grid-debug {
            background: susy-svg-grid($susy-mobile) no-repeat scroll;
        }
    }

    @include tablet {
        width: $container-tablet-width + gutter($susy-tablet);
        padding: 0 (gutter($susy-tablet) / 2);
        @if $grid-debug {
            background: susy-svg-grid($susy-tablet) no-repeat scroll;
        }
    }

    @include desktop {
        width: $container-desktop-width + gutter($susy-desktop);
        padding: 0 (gutter($susy-desktop) / 2);
        @if $grid-debug {
            background: susy-svg-grid($susy-desktop) no-repeat scroll;
        }
    }
}

.row {
    @include row();
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
