// ----------
// Debug mode
// ----------

$grid-debug: false !default;

// ---------------
// Grids variables
// ---------------

/* You need to define these in your own project, see README instructions */
$susy: null !default;
$susy-desktop: null !default;
$susy-tablet: null !default;
$susy-mobile: null !default;

// ----------
// Containers
// ----------

$container-tablet-width: 720px !default;
$container-desktop-width: 940px !default;
$container-large-width: 1100px !default;

// -----------
// Breakpoints
// -----------

// Mobile
$breakpoint-mobile-max: 768px !default;

// Tablet
$breakpoint-tablet-min: $breakpoint-mobile-max + 1;
$breakpoint-tablet-max: 992px !default;

// Desktop
$breakpoint-desktop-min: $breakpoint-tablet-max + 1;
$breakpoint-desktop-max: 1200px !default;

// Large Desktop
$breakpoint-large-desktop-min: $breakpoint-desktop-max + 1;
